<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFirstWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3078/FirstWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirstWCFService"
                contract="ServiceReference1.IFirstWCFService" name="BasicHttpBinding_IFirstWCFService" />
        </client>
    </system.serviceModel>
</configuration>