<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="year" value="${date:format=yyyy}"/>
  <variable name="monthnumber" value="${date:format=MM}"/>
  <variable name="monthname" value="${date:format=MMMM}"/>
  <variable name="filedate" value="${date:format=yyyy-MM-dd}"/>
  <variable name="messagedate" value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff}"/>
  <variable name="filemsgfmt" value="${messagedate}|${pad:padding=-5: fixedLength=true: inner=${level}}|${message}"/>

  <targets>
    <target name="file"
    xsi:type="File"
    layout="${filemsgfmt}"
    fileName="${basedir}/Logs/${year}/${monthnumber}_${monthname}/${filedate}.log"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>